*{
    margin: 0;
    padding: 0;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #014a1c), url(img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 280px;
    position: absolute;
    top: 4%;
    left: 3%;
    /* font-size: 35px;
    font-family: Arial;
    color: white; */
    /* padding-left: 20px;
    float: left; */
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
    font-family: 'Nova Square', sans-serif;
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    margin: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    font-family: 'Nova Square', sans-serif;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #014a1c;
}